In [2]:
# importing dependencies 
from selenium import webdriver 
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time

In [8]:
# setting up the Selenium WebDriver

# autimatically downloads and installs the latest chromedriver
service = Service(ChromeDriverManager().install()) 

# configures chrome options
options = webdriver.ChromeOptions()
options.add_argument("--headless")

# initilialize the chrome webdriver witht the specified service and options
driver = webdriver.Chrome(service=service, options=options)

# url of espn stats page to scrape
url = "https://www.espn.com/college-football/stats/team/_/view/defense"
driver.get(url)

# telling scraper to wait 5 seconds to load table
time.sleep(5)

# get the page source (HTML) after JavaScript execution
html = driver.page_source

# use pandas to extract all tables from the html 
dfs = pd.read_html(html)

# close the webdriver (IMPORTANT!!!)
driver.quit()

# print all extracted tables
for i, df in enumerate(dfs):
    print(f"table {i}:") # print table index
    print(df.head()) # printing the first few rows of each table

# select the relevant table for the extracted data
df = dfs[0]

C:\Users\Carl\AppData\Local\Temp\ipykernel_24556\4120327349.py:24: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs = pd.read_html(html)

table 0:
         Ohio State Buckeyes
0           Indiana Hoosiers
1            Texas Longhorns
2  Northern Illinois Huskies
3   Minnesota Golden Gophers
4       Tennessee Volunteers
table 1:
  Unnamed: 0_level_0 Total        Passing        Rushing        Points
                  GP   YDS  YDS/G     YDS  YDS/G     YDS  YDS/G    PTS PTS/G
0                 16  4074  254.6    2672  167.0    1402   87.6    206  12.9
1                 13  3332  256.3    2289  176.1    1043   80.2    203  15.6
2                 16  4539  283.7    2781  173.8    1758  109.9    245  15.3
3                 13  3700  284.6    2242  172.5    1458  112.2    241  18.5
4                 13  3714  285.7    2289  176.1    1425  109.6    220  16.9

In [10]:
schools_df = dfs[0]
stats_df = dfs[1]

In [ ]:
column_name = schools_df.columns[0]

'Ohio State Buckeyes'

In [13]:
# inserting a blank row at the top and shift everything down
schools_df = schools_df.shift(1)

# shifting the frist column name to row 0
schools_df.iloc[0, 0] = column_name

# naming the new column "School"
schools_df.columns = ['School']

# reset index 
schools_df.reset_index(drop=True, inplace=True)

# showing the new df
schools_df.head()

                      School
0        Ohio State Buckeyes
1        Ohio State Buckeyes
2           Indiana Hoosiers
3            Texas Longhorns
4  Northern Illinois Huskies

In [14]:
# combining the two tables together
schools_df = dfs[0]
stats_df = dfs[1]

# ensuring they have the same number of rows
if len(stats_df) == len(schools_df):
    # inserting the school column into the stats
    stats_df['School'] = schools_df['School']
else:
    print('Now you fucked up')

# calling merged df 
stats_df.head()

Now you fucked up

  Unnamed: 0_level_0 Total        Passing        Rushing        Points
                  GP   YDS  YDS/G     YDS  YDS/G     YDS  YDS/G    PTS PTS/G
0                 16  4074  254.6    2672  167.0    1402   87.6    206  12.9
1                 13  3332  256.3    2289  176.1    1043   80.2    203  15.6
2                 16  4539  283.7    2781  173.8    1758  109.9    245  15.3
3                 13  3700  284.6    2242  172.5    1458  112.2    241  18.5
4                 13  3714  285.7    2289  176.1    1425  109.6    220  16.9